*.log
*.log
.cache
.DS_Store
.idea
.vscode
.npmrc

package-lock.json

node_modules
coverage
dist/
*.qext

test/integration/artifacts
test/integration/test-report
bundle-analysis.html
qlik-extension-writeback-table-ext
assets*.map

# Local config for extension secrets
/src/env.js
/src/config/env.js